.button {
  padding: 19px 50px;
  border: 2px solid transparent;
  font-size: 16px;
  line-height: 17px;
  font-weight: 500;
  color: var(--white);
  transition-property: color, background-color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

.button:disabled {
  opacity: 0.6;
}

.green {
  background-color: var(--celery);
  border-color: var(--celery);
}

.green:not(:disabled):hover {
  background-color: var(--wasabi);
}

.grey {
  color: var(--greyC4);
  background-color: var(--greyC4);
  border-color: var(--greyC4);
}

.grey:not(:disabled):hover {
  color: var(--white);
  background-color: var(--greyC4);
}

.red {
  background-color: var(--cinnabar);
  border-color: var(--cinnabar);
}

.notBackground {
  background-color: transparent;
}

.red:not(:disabled).notBackground:hover {
  background-color: var(--cinnabar);
}



/* .greyGreen {
  background-color: var(--celery);
  border-color: var(--celery);
}

.greyRed {
  background-color: transparent;
  border-color: var(--cinnabar);
} */
