.i16 {
  width: 16px;
  height: 16px;
}

.i18 {
  width: 18px;
  height: 18px;
}

.i20 {
  width: 20px;
  height: 20px;
}

.i24 {
  width: 24px;
  height: 24px;
}

.i40 {
  width: 40px;
  height: 40px;
}

.i81 {
  width: 81px;
  height: 81px;
}

.i115 {
  width: 115px;
  height: 115px;
}

.i129 {
  width: 129px;
  height: 129px;
}
