.header {
  display: flex;
  justify-content: space-between;
  padding: 19px 40px;
  background-color: var(--greyC4);
}

.headerRed {
  background-color: var(--cinnabar);
}

.headerGreen {
  background-color: var(--celery);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px 100px;
  background-color: var(--greyF4);
}

.addBtnBox {
  position: absolute;
  content: '';
  top: 160px;
  right: 100px;
  transform: translateY(-25px);
}

.addBtnBox circle {
  transition: fill var(--duration) ease-in-out;
}

.addBtnBox:not(:disabled):hover circle {
  fill: var(--wasabi);
}

.addBtnBox:focus {
  outline: none;
}

.addBtnBox:focus circle {
  fill: var(--wasabi);
}

.addBtnBox:disabled {
  opacity: 0.6;
  cursor: initial;
}

.startBtn {
  padding: 19px 50px;
  border: 2px solid var(--celery);
  background-color: var(--celery);
  transition-property: border-color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

.startBtn:hover {
  border-color: var(--wasabi);
  background-color: var(--wasabi);
}

.stopBtn {
  padding: 19px 50px;
  border: 2px solid var(--greyC4);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: ease-in-out;
}

.stopBtn:hover {
  background-color: var(--greyC4);
}

.stopBtn:hover span {
  color: var(--white);
}
